@media screen and (min-width: 1291px) and (max-width: 1549px){
    .img-castom-page1{
        width: 100%;
        position: absolute;
        top: 20%;
        left: 0;
        z-index: 5;
    }
    .img-castom-page2{
        width: 100%;
        position: absolute;
        top: 683px;
        left: 0;
        z-index: -20;
    } 
    .img-castom-page3{
        position: absolute;
        width: 380px;
        top: 1280px;
        right: 0;
        z-index: -20;
    }
    .img-castom-page4{
        width: 100%;
        position: absolute;
        top: 3300px;
        left: 0;
        z-index: -20;
    }
    .img-castom-page5{
        width: 100%;
        position: absolute;
        top: 4750px;
        left: 0;
        z-index: -20;
    }
    .img-castom-page6{
        width: 100%;
        position: absolute;
        top: 5600px;
        left: 0;
        z-index: -20;
    }
}
/* media screen MDPI 1220 px to 1290 */
@media screen and (min-width: 1220px) and (max-width: 1290px){
    .img-castom-page1{
        width: 100%;
        position: absolute;
        top: 12%;
        left: 0;
        z-index: 5;
    }
    .img-castom-page2{
        width: 100%;
        position: absolute;
        top: 683px;
        left: 0;
        z-index: -20;
    } 
    .img-castom-page3{
        position: absolute;
        width: 380px;
        top: 1280px;
        right: 0;
        z-index: -20;
    }
    .img-castom-page4{
        width: 100%;
        position: absolute;
        top: 3244px;
        left: 0;
        z-index: -20;
    }
    .img-castom-page5{
        width: 100%;
        position: absolute;
        top: 4745px;
        left: 0;
        z-index: -20;
    }
    .img-castom-page6{
        width: 100%;
        position: absolute;
        top: 5578px;
        left: 0;
        z-index: -20;
    }
}

@media screen and (min-width: 1550px) and (max-width: 1650px){
    .img-castom-page1{
        width: 100%;
        position: absolute;
        top: 12%;
        left: 0;
        z-index: 5;
    }
    .img-castom-page2{
        width: 100%;
        position: absolute;
        top: 683px;
        left: 0;
        z-index: -20;
    } 
    .img-castom-page3{
        position: absolute;
        width: 380px;
        top: 1280px;
        right: 0;
        z-index: -20;
    }
    .img-castom-page4{
        width: 100%;
        position: absolute;
        top: 3406px;
        left: 0;
        z-index: -20;
    }
    .img-castom-page5{
        width: 100%;
        position: absolute;
        top: 4896px;
        left: 0;
        z-index: -20;
    }
    .img-castom-page6{
        width: 100%;
        position: absolute;
        top: 5726px;
        left: 0;
        z-index: -20;
    }
}
@media screen and (min-width: 1651px) and (max-width: 1750px){
    .img-castom-page1{
        width: 100%;
        position: absolute;
        top: 12%;
        left: 0;
        z-index: 5;
    }
    .img-castom-page2{
        width: 100%;
        position: absolute;
        top: 683px;
        left: 0;
        z-index: -20;
    } 
    .img-castom-page3{
        position: absolute;
        width: 380px;
        top: 1355px;
        right: 0;
        z-index: -20;
    }
    .img-castom-page4{
        width: 100%;
        position: absolute;
        top: 3406px;
        left: 0;
        z-index: -20;
    }
    .img-castom-page5{
        width: 100%;
        position: absolute;
        top: 4896px;
        left: 0;
        z-index: -20;
    }
    .img-castom-page6{
        width: 100%;
        position: absolute;
        top: 5749px;
        left: 0;
        z-index: -20;
    }
}
@media screen and (min-width: 1751px) and (max-width: 1850px){
    .img-castom-page1{
        width: 100%;
        position: absolute;
        top: 12%;
        left: 0;
        z-index: 5;
    }
    .img-castom-page2{
        width: 100%;
        position: absolute;
        top: 769px;
        left: 0;
        z-index: -20;
    } 
    .img-castom-page3{
        position: absolute;
        width: 380px;
        top: 1355px;
        right: 0;
        z-index: -20;
    }
    .img-castom-page4{
        width: 100%;
        position: absolute;
        top: 3406px;
        left: 0;
        z-index: -20;
    }
    .img-castom-page5{
        width: 100%;
        position: absolute;
        top: 5001px;
        left: 0;
        z-index: -20;
    }
    .img-castom-page6{
        width: 100%;
        position: absolute;
        top: 5824px;
        left: 0;
        z-index: -20;
    }
}
@media screen and (min-width: 1851px) and (max-width: 1950px){
    .img-castom-page1{
        width: 100%;
        position: absolute;
        top: 12%;
        left: 0;
        z-index: 5;
    }
    .img-castom-page2{
        width: 100%;
        position: absolute;
        top: 769px;
        left: 0;
        z-index: -20;
    } 
    .img-castom-page3{
        position: absolute;
        width: 380px;
        top: 1420px;
        right: 0;
        z-index: -20;
    }
    .img-castom-page4{
        width: 100%;
        position: absolute;
        top: 3406px;
        left: 0;
        z-index: -20;
    }
    .img-castom-page5{
        width: 100%;
        position: absolute;
        top: 5061px;
        left: 0;
        z-index: -20;
    }
    .img-castom-page6{
        width: 100%;
        position: absolute;
        top: 5892px;
        left: 0;
        z-index: -20;
    }
}
@media screen and (min-width: 1951px) and (max-width: 2050px){
    .img-castom-page1{
        width: 100%;
        position: absolute;
        top: 12%;
        left: 0;
        z-index: 5;
    }
    .img-castom-page2{
        width: 100%;
        position: absolute;
        top: 683px;
        left: 0;
        z-index: -20;
    } 
    .img-castom-page3{
        position: absolute;
        width: 380px;
        top: 1419px;
        right: 0;
        z-index: -20;
    }
    .img-castom-page4{
        width: 100%;
        position: absolute;
        top: 3501px;
        left: 0;
        z-index: -20;
    }
    .img-castom-page5{
        width: 100%;
        position: absolute;
        top: 5163px;
        left: 0;
        z-index: -20;
    }
    .img-castom-page6{
        width: 100%;
        position: absolute;
        top: 5922px;
        left: 0;
        z-index: -20;
    }
}
@media screen and (min-width: 2051px) and (max-width: 2150px){
    .img-castom-page1{
        width: 100%;
        position: absolute;
        top: 12%;
        left: 0;
        z-index: 5;
    }
    .img-castom-page2{
        width: 100%;
        position: absolute;
        top: 786px;
        left: 0;
        z-index: -20;
    } 
    .img-castom-page3{
        position: absolute;
        width: 380px;
        top: 1502px;
        right: 0;
        z-index: -20;
    }
    .img-castom-page4{
        width: 100%;
        position: absolute;
        top: 3560px;
        left: 0;
        z-index: -20;
    }
    .img-castom-page5{
        width: 100%;
        position: absolute;
        top: 5190px;
        left: 0;
        z-index: -20;
    }
    .img-castom-page6{
        width: 100%;
        position: absolute;
        top: 6017px;
        left: 0;
        z-index: -20;
    }
}
@media screen and (min-width: 2151px) and (max-width: 2250px){
    .img-castom-page1{
        width: 100%;
        position: absolute;
        top: 12%;
        left: 0;
        z-index: 5;
    }
    .img-castom-page2{
        width: 100%;
        position: absolute;
        top: 783px;
        left: 0;
        z-index: -20;
    } 
    .img-castom-page3{
        position: absolute;
        width: 380px;
        top: 1546px;
        right: 0;
        z-index: -20;
    }
    .img-castom-page4{
        width: 100%;
        position: absolute;
        top: 3603px;
        left: 0;
        z-index: -20;
    }
    .img-castom-page5{
        width: 100%;
        position: absolute;
        top: 5292px;
        left: 0;
        z-index: -20;
    }
    .img-castom-page6{
        width: 100%;
        position: absolute;
        top: 6040px;
        left: 0;
        z-index: -20;
    }
}
@media screen and (min-width: 2251px) and (max-width: 2350px){
    .img-castom-page1{
        width: 100%;
        position: absolute;
        top: 12%;
        left: 0;
        z-index: 5;
    }
    .img-castom-page2{
        width: 100%;
        position: absolute;
        top: 826px;
        left: 0;
        z-index: -20;
    } 
    .img-castom-page3{
        position: absolute;
        width: 380px;
        top: 1543px;
        right: 0;
        z-index: -20;
    }
    .img-castom-page4{
        width: 100%;
        position: absolute;
        top: 3617px;
        left: 0;
        z-index: -20;
    }
    .img-castom-page5{
        width: 100%;
        position: absolute;
        top: 5321px;
        left: 0;
        z-index: -20;
    }
    .img-castom-page6{
        width: 100%;
        position: absolute;
        top: 6101px;
        left: 0;
        z-index: -20;
    }
}
@media screen and (min-width: 2351px) and (max-width: 2450px){
    .img-castom-page1{
        width: 100%;
        position: absolute;
        top: 12%;
        left: 0;
        z-index: 5;
    }
    .img-castom-page2{
        width: 100%;
        position: absolute;
        top: 847px;
        left: 0;
        z-index: -20;
    } 
    .img-castom-page3{
        position: absolute;
        width: 380px;
        top: 1602px;
        right: 0;
        z-index: -20;
    }
    .img-castom-page4{
        width: 100%;
        position: absolute;
        top: 3612px;
        left: 0;
        z-index: -20;
    }
    .img-castom-page5{
        width: 100%;
        position: absolute;
        top: 5432px;
        left: 0;
        z-index: -20;
    }
    .img-castom-page6{
        width: 100%;
        position: absolute;
        top: 6101px;
        left: 0;
        z-index: -20;
    }
}
@media screen and (min-width: 2451px) and (max-width: 2550px){
    .img-castom-page1{
        width: 100%;
        position: absolute;
        top: 12%;
        left: 0;
        z-index: 5;
    }
    .img-castom-page2{
        width: 100%;
        position: absolute;
        top: 844px;
        left: 0;
        z-index: -20;
    } 
    .img-castom-page3{
        position: absolute;
        width: 380px;
        top: 1628px;
        right: 0;
        z-index: -20;
    }
    .img-castom-page4{
        width: 100%;
        position: absolute;
        top: 3710px;
        left: 0;
        z-index: -20;
    }
    .img-castom-page5{
        width: 100%;
        position: absolute;
        top: 5482px;
        left: 0;
        z-index: -20;
    }
    .img-castom-page6{
        width: 100%;
        position: absolute;
        top: 6218px;
        left: 0;
        z-index: -20;
    }
}
@media screen and (min-width: 2551px) and (max-width: 2650px){
    .img-castom-page1{
        width: 100%;
        position: absolute;
        top: 12%;
        left: 0;
        z-index: 5;
    }
    .img-castom-page2{
        width: 100%;
        position: absolute;
        top: 883px;
        left: 0;
        z-index: -20;
    } 
    .img-castom-page3{
        position: absolute;
        width: 380px;
        top: 1697px;
        right: 0;
        z-index: -20;
    }
    .img-castom-page4{
        width: 100%;
        position: absolute;
        top: 3801px;
        left: 0;
        z-index: -20;
    }
    .img-castom-page5{
        width: 100%;
        position: absolute;
        top: 5584px;
        left: 0;
        z-index: -20;
    }
    .img-castom-page6{
        width: 100%;
        position: absolute;
        top: 6274px;
        left: 0;
        z-index: -20;
    }
}
@media screen and (min-width: 2651px) and (max-width: 2750px){
    .img-castom-page1{
        width: 100%;
        position: absolute;
        top: 12%;
        left: 0;
        z-index: 5;
    }
    .img-castom-page2{
        width: 100%;
        position: absolute;
        top: 904px;
        left: 0;
        z-index: -20;
    } 
    .img-castom-page3{
        position: absolute;
        width: 380px;
        top: 1734px;
        right: 0;
        z-index: -20;
    }
    .img-castom-page4{
        width: 100%;
        position: absolute;
        top: 3786px;
        left: 0;
        z-index: -20;
    }
    .img-castom-page5{
        width: 100%;
        position: absolute;
        top: 5610px;
        left: 0;
        z-index: -20;
    }
    .img-castom-page6{
        width: 100%;
        position: absolute;
        top: 6270px;
        left: 0;
        z-index: -20;
    }
}
@media screen and (min-width: 2751px) and (max-width: 2850px){
    .img-castom-page1{
        width: 100%;
        position: absolute;
        top: 12%;
        left: 0;
        z-index: 5;
    }
    .img-castom-page2{
        width: 100%;
        position: absolute;
        top: 914px;
        left: 0;
        z-index: -20;
    } 
    .img-castom-page3{
        position: absolute;
        width: 380px;
        top: 1757px;
        right: 0;
        z-index: -20;
    }
    .img-castom-page4{
        width: 100%;
        position: absolute;
        top: 3909px;
        left: 0;
        z-index: -20;
    }
    .img-castom-page5{
        width: 100%;
        position: absolute;
        top: 5700px;
        left: 0;
        z-index: -20;
    }
    .img-castom-page6{
        width: 100%;
        position: absolute;
        top: 6310px;
        left: 0;
        z-index: -20;
    }
}