*{
    margin: 0;
    padding: 0;
}
.container{
    width: 75%;
    margin: auto;
}

body{
    background-color: #21212E;
    font-family: 'Muli', sans-serif;
}
header{
    /* dislay flex - делает из блочного строчный елемент */
    display: flex;
    /* justify-content - помогает пропорционально разместить елементы на странице */
    justify-content: space-between;
    height: 108px;
    align-items: center;
}
.content{
    padding-top: 130px;
}
button:active, button:focus {
    outline: none;
  }
  button::-moz-focus-inner {
    border: 0;
  }
/* sticky-menu */
.sticky{
    background-color:#21212E;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
    box-shadow: 0px 0px 40px #0000008A;
    border-radius: 7px;
}
.logo{
    /* когда или width или height - оно пропорционально изменяется, если два то разширяется */
    width: 260px;
}
.menu{
    display: flex;
    justify-content: space-between;

}
.menu li{
    list-style: none;
    margin-left: 45px;
}
.menu li a{
    text-decoration: none;
    color: #66667E;
    font-weight: 300;
    font-size: 20px;
    /* transition-плавный переход */
    transition: color 0.5s ease;
}
.menu li a:hover{
    color:#822EFF;
}
.menu li a:focus{
    color:#822EFF;
}
.button-display{
    display: inline-block;
}
.header-button{
    /* padding - по часовой стрелке идет когда общий */
    padding: 15px 35px 15px 35px;
    color: #ffffff !important;
    /* border- сначала ширина линии, потом характеристика линии и цвет */
    border: 2px solid #ffffff;
    border-radius: 8px;
    transition: all 0.5s ease;
    text-decoration: none;
    font-weight: 300;
    font-size: 20px;
    margin-top: 25px;
}
.header-button:hover{
    /* padding - по часовой стрелке идет когда общий */
    background-color: #ffffff;
    color: #21212E !important;
    /* border- сначала ширина линии, потом характеристика линии и цвет */
    border: 2px solid #ffffff;
    border-radius: 8px;
}
.header-button:focus{
    /* padding - по часовой стрелке идет когда общий */
    background-color: #ffffff;
    color: #21212E !important;
    /* border- сначала ширина линии, потом характеристика линии и цвет */
    border: 2px solid #ffffff;
    border-radius: 8px;
}
.slogan{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slogan-info{
    width: 40%;
}
.slogan-img{
    width: 50%;
}
.slogan-info-h2{
    color: #ffffff;
    font-weight: 300;
    font-size: 45px;
    margin-bottom: 40px;
}
.slogan-info-p{
    color: #66667E;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 85px;
    animation-delay: 0.5s;
}
.slogan-buttons{
    animation-delay: 1s;
}
.gradient-button{
    padding: 17px 37px 17px 37px;
    background: transparent linear-gradient(294deg, #BD11FA 0%, #46C2FF 100%) 0% 0% no-repeat padding-box;
    color: #ffffff !important;
    border-radius: 8px;
    transition: all 0.5s ease;
    text-decoration: none;
    font-weight: 300;
    font-size: 20px;
    margin-right: 35px;
    margin-top: 25px;
}
.gradient-button:hover{
    /* transition: all 2s ease; */
    box-shadow: 0px 0px 40px #822EFF;
    /* background: transparent linear-gradient(294deg, #46C2FF 0%, #BD11FA 100%) 0% 0% no-repeat padding-box; */
}
.clients-logo-img{
    padding: 22px 42px 22px 42px;
    background-color: #20202C;
    border-radius: 7px;
    /* box-shadow- x, y, z(отдаленность) цвет тени */
    box-shadow: 0px 0px 40px #0000008A;
}
.clients-logo-img:hover{
    box-shadow: 0px 0px 40px #822EFF;
    transition: all 0.5s ease;
}
.clients_contant{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 220px;
}
.clients-info-h2{
    font-weight: bold;
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 50px;
}
.clients_logo{
    width: 60%;
}
.clients_info{
    width: 35%;
}
.clients-logo-row{
    display: flex;
    justify-content: space-between;
}
.clients-logo-row-width1{
    width: 300px;
    margin-left: 16%;
    margin-right: auto;
}
.clients-logo-row-width2{
    width: 568px;
}
.clients-logo-row-width3{
    width: 548px;
    margin-left: 1.5%;
    margin-right: auto;
}
.clients-logo-row-width-mb{
    margin-bottom: 22px;
}
.green-subtext{
    padding: 18px;
    color:#00EC98;
    background-color: #00ec982e;
}
.clients-info-h2-mt{
    margin-top: 40px;
}
.services{
    margin-top: 170px;
    padding-top: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.services-blocks{
    display: flex;
    justify-content: flex-end;
    width: 50%;
}
.services-info{
    width: 35%;
}
.servieces-block-item{
    padding: 40px;
    background: #39394d42 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 40px #0000008A;
    border-radius: 7px;
    margin-bottom: 30px;
    width: 200px;
}
.services-blocks-colum-ar{
    margin-right: 30px;
}
.services-block-item-icon{
    padding: 20px 40px 20px 40px;
    margin-left: -40px;
    margin-right: -40px;
    background-color: #39394D;
}
.servieces-block-item h3{
    color: #ffffff;
    margin-top: 40px;
    margin-bottom: 30px;
}
.servieces-block-item p{
    color: #66667E;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 20px;
}
.services-blocks-colum-mt{
    margin-top: 120px;
}
.features{
    margin-top: 60px;
    padding-top: 130px;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    padding-top: 160px;
}
.features-img{
    width: 50%;
    margin-left: -30px;
}
.features-info{
    width: 40%;
}
.pricing {
    margin-top: 180px;
    padding-top: 120px;
}
.pricing-info{
    text-align: center;
    margin-bottom: 50px;
    /* display: flex;
    justify-content: center; */
}
.pricing-info-buttons{
    display: inline-block;
    
}
.pricing-info-p-mb{
    margin-bottom: 50px !important;
}
.pricing-info-buttons-plan{
    padding: 17px 40px 17px 40px;
    font-size: 18px;
    font-weight: 300px;
    border: none;
    color:#66667E;
    text-decoration: none;
    background-color: #21212E;
    transition: color 0.5s ease;
}
.pricing-info-buttons-plan:hover{
    color:#822EFF;
}
.active-pricing-button{
    font-weight: 600;
    color:#ffffff;
}
.pricing-info-buttons{
    border: 2px solid #ffffff;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    width: 290px;
    margin: auto;
    margin-bottom: 50px;
}
.flex-pricing-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.paragraph-text{
    color: #66667E;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
}
.pricing-boxes-plan{
    text-align: center;
    width: 276px;
    padding: 50px 40px;
    background: #20202C 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 40px #0000008A;
    border-radius: 7px;
}
.pricing-boxes{
    display: flex;
    justify-content: center;
    /* в 2 объктов custom heigt */
    align-items: center;
}
.pricing-disabled{
    display: none;
}
.pricing-title-h3{
    color: #ffffff;
    font-weight: 600;
    font-size: 42px;
}
.price{
    color: #ffffff;
    font-weight: 800;
    font-size: 60px;
}
.pricing-paragraph-mb{
    margin-bottom: 30px;
}
.pricing-paragraph-mb-button{
    margin-bottom: 70px;
}
.pricing-title-background{
    background-color:#39394d42;
    margin-left: -40px;
    margin-right: -40px;
    padding: 20px 0;
}
.custom-height{
    height: 490px;
    z-index: 1;
}
.custom-zindex{
    z-index: 2;
}
.button-padding{
    margin: 0;
    padding: 17px 50px;
}
.clients-info-h2-mb{
    margin-bottom: 40px;
}
.questions-boxes{
    width: 1000px;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    
}
.frequently-questions-info{
    text-align: center;
    margin-bottom: 30px;
}
.questions{
    margin-top: 400px; /* отступ от попереднього */
}
.questions-img{
    width: 30px;
}
.question-line{
    background: #20202C 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 40px #0000008A;
    border-radius: 7px;
    margin-bottom: 30px;
    padding: 0px 0px 0px 30px;
    width: 450px;
}
.question-line-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.primary-question-line-button{
    border: 0;
    color: #ffffff;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    background: #20202C 0% 0% no-repeat padding-box;
    cursor: pointer;
    height: 80px;
}
.accordion-text-mt{
    display: none;
}
.accordion-text{
    padding-right: 30px;
    margin-top: 0;
    padding-bottom: 0;
    max-height: 0;
    overflow: hidden;
}
.accordion-img-display-none{
    display: none;
}
.img-question-line-button{
    width: 90px;
    height: 90px;
    background-color: #39394D;
    border: 0;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.question-text{
    color: #ffffff;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
}
form{
    width: 760px;
    margin: auto;
}
.form-line{
    display: flex;
    justify-content: space-between;
}
textarea{
    display: block;
    width: 720px;
    height: 120px;
    background-color: #39394d42;
    box-shadow: 0px 0px 40px #0000008A;
    font-size: 16px;
    color: #ffffff;
    padding: 20px;
    border-radius: 7px;
    margin-bottom: 35px;
    border:2px solid #4e4a61;
    font-family: 'Muli', sans-serif;
}
textarea::placeholder{
    color:#66667E;
}
textarea:focus{
    border:2px solid #822EFF;
}
.button-submit{
    float: right;
}
.checkbox-button{
    float: right;
}
.input-text{
    background-color: #39394d42;
    box-shadow: 0px 0px 40px #0000008A;
    font-size: 16px;
    color: #ffffff;
    width: 300px;
    padding: 20px;
    border-radius: 7px;
    margin-bottom: 35px;
    border:2px solid #4e4a61;
    font-family: 'Muli', sans-serif;
}
.input-text::placeholder{
    color:#66667E;
}
.input-text:focus{
    border:2px solid #822EFF;
}
.conditions{
    transition: color 0.5s ease;
}
.conditions:hover{
    color:#822EFF;
}
.contact{
    margin-top: 180px;
    padding-top: 120px;
}
.submit-button{
    padding: 12px 35px 15px 35px;
    color: #ffffff !important;
    background-color: #21212E;
    /* border- сначала ширина линии, потом характеристика линии и цвет */
    border: 2px solid #ffffff;
    border-radius: 8px;
    transition: all 0.5s ease;
    text-decoration: none;
    font-weight: 300;
    font-size: 20px;
}
.submit-button:hover{
    /* padding - по часовой стрелке идет когда общий */
    background-color: #ffffff;
    color: #21212E !important;
    /* border- сначала ширина линии, потом характеристика линии и цвет */
    border: 2px solid #ffffff;
    border-radius: 8px;
}
.button-submit{
    margin-top: 30px;
}
.cta{
    background-color: #39394d42;
    margin-top: 400px;
}
.cta-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cta-info-text{
    width: 60%;
}
.cta-info-button{
    width: 40%;
    display: flex;
    justify-content: flex-end;
}
.buttom-padding{
    margin: 0;
    padding: 17px 50px;
}
.footer-link{
    text-decoration: none;
}
footer{
    display: flex;
    justify-content: space-between;
    margin-top: 70px !important;
    margin-bottom: 70px !important;
}
.footer-info{
    width: 40%;
}
.footer-stuff{
    width: 55%;
    display: flex;
    justify-content: space-between;
}
.paragraph-text-mb{
    margin-bottom: 40px;
}
.footer-title{
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 25px;
}
li{
    list-style: none;
}
.footer-link{
    text-decoration: none;
    transition: color 0.5s ease;
}
.footer-link:hover{
    color:#822EFF;
}
.img-icon{
    width: 40px;
}
.image-link{
    margin-left: 15px;
}
.footer-social{
    /* выцентрирование */
    text-align: center;
}
.sticky-arrow-up-img{
    width: 25px;
    padding: 16px;
    background: transparent linear-gradient(294deg, #BD11FA 0%, #46C2FF 100%) 0% 0% no-repeat padding-box;
    border-radius: 7px;
    transition: all 0.5s ease;
}
.sticky-arrow-up-img:hover{
    box-shadow: 0px 0px 20px #822EFF;
}
.sticky-arrow-up{
    position: fixed;
    top: 80%;
    left: 93%;
    z-index: 200;
}